<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="/styles.css">
    <title>OptionsAdmin</title>
</head>
<body>
    <div class="contenedor">
        <a href="/admin/CRUD_municipio" class = "btn btn-inicio btn-1">AGREGAR MUNICIPIO</a>
        <a href="/admin/agendar" class = "btn btn-formulario btn-1">AGENDA
            <span></span>
            <span></span>
        </a>
        <a href="/admin/graficaStatus" class = "btn btn-1">GRAFICA STATUS</a>
        <a href="/admin/CRUD_admin" class = "btn btn-1">AGREGAR ADMINS</a>
        <a href="/admin/logout" class = "btn btn-1">SALIR</a>
        <a href="/admin/graficaMunicipio" class = "btn btn-1">GRAFICA MUNICIPIO</a>
    </div>    
</body>
</html>