<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="/styles.css">
    <title>OptionsAdmin</title>
</head>
<body>
    <div class="contenedor">
        <a href="index.ejs" class = "btn btn-inicio btn-1">MUNICIPIO</a>
        <a href="Agenda.ejs" class = "btn btn-formulario btn-1">AGENDA
            <span></span>
            <span></span>
        </a>
        <a href="#" class = "btn btn-1">GRAFICA STATUS</a>
        <a href="index.ejs" class = "btn btn-1">AGREGAR ADMINS</a>
        <a href="#" class = "btn btn-1">SALIR</a>
        <a href="#" class = "btn btn-1">GRAFICA MUNICIPIO</a>
    </div>    
</body>
</html>