<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <a href="#" class = "btn btn-inicio btn-1">botón</a>
        <a href="#" class = "btn btn-formulario btn-2">botón
            <span></span>
            <span></span>
        </a>
        <a href="#" class = "btn btn-3">botón</a>
    </div>    
</body>
</html>