<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gestor de municipios</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/vapor/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a href="/" class="navbar-brand" style="margin-left: 20px;">Gestor de Municipios</a> 
  </nav>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-7">
          <table class="table table-bordered table-hover">
            <thead>
              <th>N°</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </thead>
            <tbody>
                <% if (data) {%>
                    <% for (var i = 0; i < data.length; i++) {%>
                        <tr>
                            <td> <%= (i + 1) %> </td>
                            <td> <%= data[i].nombremunicipio %> </td>
                            <td> 
                                <a  href= "/municipio/update/<%= data[i].idmunicipio %>" class="btn btn-outline-success" >EDITAR</a>
                                <a  href= "/municipio/delete/<%= data[i].idmunicipio %>" class="btn btn-outline-danger mx-3" >ELIMINAR</a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
          </table>
        </div>

        <div class="col-md-5">
          <h1>Ingresa  un nuevo municipio</h1>
          <div class="card">
            <div class="card-body">
              <form action="/municipio/add" method="POST">
                <div class="form-group">
                  <label for="usuario" class="form-label mt-4">Usuario</label>
                  <input type="text" name="nombremunicipio" placeholder="Nombre de municipio" class="form-control">
                </div>
                <button type="reset" class="btn btn-outline-light btn-lg mt-5">
                  Guardar municipio
                </button>

                <button type="reset" class="btn btn-outline-light btn-lg mt-5 mx-3">
                  limpiar
              </button>

              <a href="/admin/inicio" class = "btn btn-outline-secondary btn-lg mt-5 mx-3">Regresar</a>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
