body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #e66465, #9198e5);
}
.login-container {
    width: 600px; /* Aumenta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    margin-top: 10px; /* Ajusta la distancia desde la parte superior */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, #4a90e2, #ffffff);

  }

  h2 {
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Ajusta la altura según tus necesidades */
  }
  
  .btn {
    /* Estilos adicionales para el botón */
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

 *{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #151e3f;
 } 

:root {
  --color: #17a2ff;

}

.contenedor {
  display: flex;
  height: 100vh;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.btn {
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 10px;
}





  


 

  