body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #e66465, #9198e5);
}
.login-container {
    width: 400px; /* Aumenta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    margin-top: 200px; /* Ajusta la distancia desde la parte superior */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, #4a90e2, #ffffff);

  }
  
  input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.5s; /* Agrega una transición suave al cambio de color de fondo */
  }

  input[type="submit"]:hover {
    background-color: purple;
  }

  .login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Centra el contenido horizontalmente */
  }

  